@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

button.btn-tarefa {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

button.btn-tarefa:hover {
  background: var(--primary-color-darker);
}

ul.tarefas, ul.historico-tarefas {
  list-style: none;
  padding: 0;
}

ul.tarefas li, ul.historico-tarefas li {
  background: #f4f4f4;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  transition: background 0.3s ease;
}

ul.tarefas li:hover {
  background: #e4e4e4;
}

ul.historico-tarefas li {
  background: #ddd;
}

button.apagar {
  background: #ff4d4d;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button.apagar:hover {
  background: #cc0000;
}

.horario {
  font-size: 0.9em;
  color: #666;
  margin-left: 10px;
}
